section{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px)50px 50px;
}
#box-4{
    grid-row: span 2;
}
#box-5 {
    
    grid-column: span 3;
}
img:hover{
    cursor: pointer;
}

/* reasponsive */
@media screen and (max-width: 570px){
    section{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px)50px 50px;


    }
}
